:root {
    --color-primary: #d1e4f0e8;
    --color-btn: #4daff0e8;
    --color-white: whitesmoke;
    --font-title: 'Fredoka One', cursive;
    --font-secondary: 'Signika', sans-serif;
}

body {
    margin: 0;
    background-color: var(--color-white);
}

h1 {
    text-transform: uppercase;
    padding: .5em 0 0 0;
    font-family: var(--font-title);
    font-size: 3em;
}

h1,
.scoreboard,
.grid-container {
    margin: 0 auto;
}

h1,
.scoreboard {
    width:400px;
    text-align: center;
}

.scoreboard {
    padding: .85em 0 1.15em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-secondary);
}

.flags,
.timer {
    font-size: 1.1em;
    font-weight: 600;
}

.new-game-btn {
    padding: .75em 1.5em;
    border: 2px solid transparent;
    border-radius: 1em;
    background-color: var(--color-btn);
    color: var(--color-white);
    font-weight: 700;
    font-size: 1em
}

.new-game-btn:hover {
    cursor: pointer;
    color: var(--color-btn);
    background-color: var(--color-white);
    border: solid 2px var(--color-btn);
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    border: var(--color-primary) solid 10px;
    border-radius: .5em;
    background-color: var(--color-primary);
}

.grid-container div {
    background-color: rgb(151, 151, 151);
    border: 1px solid var(--color-primary);
    border-radius: 2.5px;
    width: 28px;
    height: 28px;
    font-family: var(--font-secondary);
    font-size: 1.15em;
    font-weight: 600;
}

.valid,
.bomb,
.flagged {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(0, 0, 0, 1)
}

.grid-container .checked {
    background-color: rgb(190, 190, 190, .95);
}

.visible {
    opacity: 1;
    color: rgb(0, 0, 0, 1)
}

.one {
    color: rgb(38, 38, 185);
}
.two {
    color: rgb(179, 14, 14);
}
.three {
    color: rgb(19, 100, 19);
}
.four {
    color: rgb(102, 4, 102);
}
.five {
    color: maroon;
}
.six {
    color: rgb(41, 187, 172);
}
.seven {
    color: black;
}
.eight {
    color: whitesmoke;
}